.totc {
  
  width: 100%;
  text-align: center;
  margin-top: 27px;
}

.totc h1,
.totc h2,
.totc .title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;      
  font-weight: 700;
  margin-bottom: 33px;
  gap: 50px;
  line-height: 1.3;
  
}



.blue {
  color: #25265e;
}

.cyan {
  color: #00c2c2;
}

.desc {
  max-width: 1110px;
    font-family: "Poppins", sans-serif;

  margin: 20px auto;
  font-size: 25px;
  color: #555;
  line-height: 1.6;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 108px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.image-card {
  width: 600px;
  height: 400px;
  position: relative;
  margin-top: 45px;
  margin-right: -7px;
  overflow: hidden;
  border-radius: 20px;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay h3 {
  margin-bottom: 10px;
  font-size: 18px;
}
.btn-blue {
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  background: #87CEEB; 
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.overlay button {
  padding: 8px 18px;
  border: none;

  border-radius: 20px;
  background-color: grey;
  color: white;
  cursor: pointer;
  font-weight: 500;
}